body {
    font-family: sans-serif;
    background-color: yellow;
    color: white;
  }

p {
 font-size: 1.2rem;
}
  
  header {
    background-color: purple;
    color: #fff;
    padding: 1rem;
    display: flex;
    border-radius: 30px;
    margin-bottom: 2rem;
  }
  
  nav {
    padding: 0.5rem;
  }
  
  nav a {
    background-color: rgba(57, 11, 57, 0.558);
    color: #fff;
    text-decoration: none;
    padding: 1rem 1rem;
    border-radius: 30px;
  }

  .nava {
    margin: 0.5rem 0rem 0.5rem 0.5rem;
    display: inline-block;
  }

  @media (min-width: 800px) {
    /* CSS that should be displayed if width is equal to or less than 800px goes here */
    main {
        padding: 1rem;
        border-radius: 30px;
      }

    header {
        margin: 1rem;
    }
    
    #hero {
        padding: 1rem;
    }
  }


  
  section {
    margin-bottom: 2rem;
    border-radius: 30px;
  }
  
  #hero {
    background-image: 
        linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url(https://i.imgur.com/lgtTLAk.png);
    background-size: cover;
    background-position: center;
    height: fit-content;
    border-radius: 30px;
    padding: 1rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  
  #hero h2 {
    color: #fff;
    font-size: 2rem;
    text-align: center;
    padding-top: 1.5rem;
    border-radius: 30px;
  }
  
  #hero p {
    color: #fff;
    font-size: 1.2rem;
    text-align: center;
    border-radius: 30px;
  }
  
  #hero a {
    color: #fff;
    text-decoration: none;
    padding: 0.5rem 1rem;
    background-color: rgba(57, 11, 57, 0.7);;
    text-align: center;
    border-radius: 30px;
  }
  
  /*.learn {
      align-content: center;
  }*/
  
  .services {
    background-color: purple;
    padding: 1rem;
    border-radius: 30px;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: #fff;
  }
  
  .services h2 {
    font-size: 2rem;
    text-align: center;
  }
  
  .services ul {
    list-style-type: none;
    padding: 0;
    border-radius: 30px;
  }
  
  .services li {
    font-size: 1.2rem;
    padding: 0.5rem 0;
  }
  
  .services a {
      text-align: center;
      border-radius: 30px;
      background-color: rgba(57, 11, 57, 0.558);
      padding: 0.5rem 1rem;
      text-decoration: none;
      color: white;
  }
  
  #testimonials {
    background-color: purple;
    padding: 1rem;
  }
  
  #testimonials h2 {
    font-size: 2rem;
    text-align: center;
  }
  
  #testimonials ul {
    list-style-type: none;
    font-size: 1.2rem;
    
  }